@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase")

body{
	background-color:#52AB52;
}
.navbar-collapse{
	color: white;
	font-size: 30px;
	margin: 5px;
}
.navbar-nav{
	color: white;
	position: fixed;
}
.nav-link{
	color: black;
}
.flip{
    position: relative;
    transition: all 1s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
}
.flip:hover{

    transform: perspective(600px) rotateY(-180deg) translateX(100%);
}
.jumbotron{
	text-align: center;
	background-image: url(assets/imagenes/fundo lo Marcoleta.JPG);
	background-color: #52AB52;
	color: black;
	height: 550px;
}
.img-logo{
	width:70px;
	float: left;
	margin-left: 60%;
	float: left;
	margin: 5px;
}
h1{
	text-align: center;
	border-top: -30px;
	font-family: 'Cormorant Unicase', serif;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
h4{
	text-align: center;
}
.display-4{
	text-align: center;
	color: white;
}
.img{ 
	width:60px;
	float: left;
	margin-left: 60%;
	float: left;
	margin: 20px;
}
li-1{
	list-style: none;
	font-size: 20px;
	text-align: justify;
}
li{
	list-style: none;
	font-size: 20px;
}
p{
	text-align: justify;
	font-size: 20px;
}
iframe{
	width: 100%;
	height: 100%;
}
.row{
	background-color:#F9F97E;
	
}

.container-contenedor{
	height: 300px;
	margin-top: -0 auto;
}
